In [7]:
# import libraries
import pandas as pd
import csv

In [4]:
with open('./weather_data.csv') as file:
    data = file.readlines()

In [5]:
data

['day,temp,condition\n',
 'Monday,12,Sunny\n',
 'Tuesday,14,Rain\n',
 'Wednesday,15,Rain\n',
 'Thursday,14,Cloudy\n',
 'Friday,21,Sunny\n',
 'Saturday,22,Sunny\n',
 'Sunday,24,Sunny']

In [16]:
with open('./weather_data.csv') as file:
    data = csv.reader(file)
    temps = []
    for r in list(data)[1:]:
#         print(r)
        temps.append(int(r[1]))
    print(temps)

[12, 14, 15, 14, 21, 22, 24]

In [17]:
df = pd.read_csv('./weather_data.csv')

In [18]:
df

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [19]:
df['temp']

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df.to_dict()

{'day': {0: 'Monday',
  1: 'Tuesday',
  2: 'Wednesday',
  3: 'Thursday',
  4: 'Friday',
  5: 'Saturday',
  6: 'Sunday'},
 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24},
 'condition': {0: 'Sunny',
  1: 'Rain',
  2: 'Rain',
  3: 'Cloudy',
  4: 'Sunny',
  5: 'Sunny',
  6: 'Sunny'}}

In [22]:
type(df['temp'])

pandas.core.series.Series

In [23]:
tmp_lst = df['temp'].to_list()

In [24]:
tmp_lst

[12, 14, 15, 14, 21, 22, 24]

In [28]:
print('Average Temp: {:.2f}'.format(df['temp'].mean()))

Average Temp: 17.43

In [27]:
average_lst = sum(tmp_lst) / len(tmp_lst)
average_lst

17.428571428571427

In [32]:
print('Maximum Temp: {}'.format(df['temp'].max()))

Maximum Temp: 24

In [34]:
df.columns

Index(['day', 'temp', 'condition'], dtype='object')

In [35]:
df['condition']

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [36]:
df.condition

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

In [38]:
df[df['day'] == 'Monday']

      day  temp condition
0  Monday    12     Sunny

In [39]:
df[df.day == 'Monday']

      day  temp condition
0  Monday    12     Sunny

In [40]:
df[df['temp'] == df['temp'].max()]

      day  temp condition
6  Sunday    24     Sunny

In [41]:
max_r = df[df['temp'] == df['temp'].max()]

In [42]:
max_r['condition']

6    Sunny
Name: condition, dtype: object

In [43]:
monday = df[df['day'] == 'Monday']

In [53]:
print(f'Monday temperature: {(monday.temp[0] * 9/5) + 32}')

Monday temperature: 53.6

In [54]:
data_dict = {
    'name': ['Ali', 'Umair', 'Tanzeel'],
    'company': ['Blutech', 'Blutech', 'Affiniti']
}
cust_df = pd.DataFrame(data_dict)

In [57]:
cust_df.to_csv('Custom_data.csv', index=False)

In [148]:
sq_df = pd.read_csv('./2018_Central_Park_Squirrel_Census_-_Squirrel_Data.csv')

In [149]:
sq_df.head()

,X,Y,Unique Squirrel ID,Hectare,Shift,Date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10142018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.957044,40.794851,37E-PM-1006-03,37E,PM,10062018,3,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,True,me,POINT (-73.9570437717691 40.794850940803904)
2,-73.976831,40.766718,2E-AM-1010-03,02E,AM,10102018,3,Adult,Cinnamon,NaN,...,False,False,False,False,False,False,True,False,NaN,POINT (-73.9768311751004 40.76671780725581)
3,-73.975725,40.769703,5D-PM-1018-05,05D,PM,10182018,5,Juvenile,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9757249834141 40.7697032606755)
4,-73.959313,40.797533,39B-AM-1018-01,39B,AM,10182018,1,NaN,NaN,NaN,...,True,False,False,False,False,False,False,False,NaN,POINT (-73.9593126695714 40.797533370163)

In [150]:
cnt_by_primary_fur_color = sq_df.value_counts('Primary Fur Color')

In [151]:
sq_df.columns

Index(['X', 'Y', 'Unique Squirrel ID', 'Hectare', 'Shift', 'Date',
       'Hectare Squirrel Number', 'Age', 'Primary Fur Color',
       'Highlight Fur Color', 'Combination of Primary and Highlight Color',
       'Color notes', 'Location', 'Above Ground Sighter Measurement',
       'Specific Location', 'Running', 'Chasing', 'Climbing', 'Eating',
       'Foraging', 'Other Activities', 'Kuks', 'Quaas', 'Moans', 'Tail flags',
       'Tail twitches', 'Approaches', 'Indifferent', 'Runs from',
       'Other Interactions', 'Lat/Long'],
      dtype='object')

In [156]:
sq_df_group = sq_df.groupby(['Primary Fur Color']).size().reset_index()

In [158]:
sq_df_group.rename({0: 'Count'}, inplace=True, axis='columns')

In [159]:
sq_df_group

  Primary Fur Color  Count
0             Black    103
1          Cinnamon    392
2              Gray   2473

In [161]:
sq_df_group.to_csv('squirrel_count.csv', index=False)